.upperBar {
    color: white;
    margin-left: 35%;
    font-family: delicious;
}
img {
    max-width: 100%;
    height: auto;
}
.central {
	height: 100%;
}
.btn {
	margin-bottom: 2%;
	margin-top: 2% ;
	margin-left: 10% ;
}

.lat-btn {
	margin-bottom: 4%;
	margin-top: 4% ;
	margin-left:2%;
}
.lateralbar {
	border-right: solid black 1px;
	height: 2000px;
}
#logo {
    width: 150px;
    min-height: 150px;
    max-height: 150px;
    float: left;
    margin: 1px;
    padding: 1px;
}
.upperbar {
	width:110%;
	height: 150px;
}
.hosplist {
	width: 400px !important;
}

#point {
	font:Impact, Charcoal, sans-serif;
}

#greeting {
	font-size: 25px;
	color: white;
}
#separated {
	margin-top: 20%;
}
